{% extends 'base.html' %}
{% block title %}
Gerenciador Financeiro - Cartões
{% endblock %}

{% block content %}


<div class="container mt-4">
    <h3 class="display-6">Atualizar Cartão de Crédito</h3>


    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<a href="{% url 'credit_card_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para lista de Cartões de Crédito</a>


{% endblock %}
