{% extends 'base.html' %}
{% block title %}
Gerenciador Financeiro - Contas
{% endblock %}

{% block content %}


<div class="container mt-4">
    <h3 class="display-6">Detalhes da Conta Bancária</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ object.name }}</h3>
            <p class="card-text">Banco: {{ object.bank }}</p>
            <p class="card-text">IBAN: {{ object.iban }}</p>
            <p class="card-text">Moeda: {{ object.currency_symbol }} - {{ object.currency }}</p>
            <p class="card-text">Saldo Inicial: {{ object.opening_balance }}</p>
            <p class="card-text">Saldo Atual: {{ object.current_balance }}</p>
            <p>Ativa: {% if object.active %} Sim {% else %} Não {% endif %}</p>
        </div>
    </div>
    <a href="{% url 'bank_account_list' %}" class="btn btn-secondary mt-3">Voltar para lista de Contas Bancárias</a>
</div>


{% endblock %}
